@model Filmsayt.Models.tbl_kullanici

@{
    ViewBag.Title = "Profilpassword";
    Layout = "~/Views/Shared/SaytLayout.cshtml";
}

<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="~/Content/css/demo.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/common.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
<script type="text/javascript" src="~/Content/js/modernizr.custom.79639.js"></script>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background-color:#103a72">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label style="float:left;margin-right:70px;font-size:20px;color:white;font-family:'Dutch801 XBd BT'">Istifadeci Adi</label>
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.istifadeciadi, new { htmlAttributes = new { @style = "background-color:#2648a3;width:350px;border-color:#2648a3;color:white;font-size:19px;text-align:center;border-radius:12px;", placeholder = "İstifadəçi Adı" } })
                @Html.ValidationMessageFor(model => model.istifadeciadi, "", new { @class = "text-danger" })
            </div>*
            <input type="text" name="istifadeciadi" value="" style = "background-color:#2648a3;width:350px;border-color:#2648a3;color:white;font-size:19px;text-align:center;border-radius:12px;" placeholder="İstifadəçi Adı"/>
        </div>

        <div class="form-group">
            <label style="float:left;margin-right:148px;font-size:20px;color:white;font-family:'Dutch801 XBd BT'">Şifrə</label>
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.sifre, new { htmlAttributes = new { @style = "background-color:#2648a3;width:350px;border-color:#2648a3;color:white;font-size:19px;text-align:center;border-radius:12px;", placeholder = "**********" } })
                @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
            </div>*
            <input type="password" name="sifre" value="" style = "background-color:#2648a3;width:350px;border-color:#2648a3;margin-left:120px;color:white;font-size:19px;text-align:center;border-radius:12px;" placeholder="Şifrə"/>
        </div>

        <div class="form-group">
            <label style="float:left;margin-right:70px;font-size:20px;color:white;font-family:'Dutch801 XBd BT'">Yeni Sifre</label>
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.yenisifre, new { htmlAttributes = new { @style = "background-color:#2648a3;width:350px;border-color:#2648a3;color:white;font-size:19px;text-align:center;border-radius:12px;", placeholder = "**********" } })
                @Html.ValidationMessageFor(model => model.yenisifre, "", new { @class = "text-danger" })
            </div>*
            <input type="password" name="yenisifre" value="" style = "background-color:#2648a3;width:350px;border-color:#2648a3;color:white;font-size:19px;text-align:center;border-radius:12px;" placeholder="Yeni Şifrə"/>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Yadda Saxla" class="btn btn-default"  />
            </div>
        </div>
    </div>
    }*@
<div class="hero user-hero">
    <div class="container" style="margin-bottom:300px;">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>@Model.adi <span style="margin-left:2px;margin-right:10px;"></span>   @Model.soyadi <span style="margin-left:20px;margin-right:20px;"></span>   Profili</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="hover" id="avatar" style="margin-left:60px;margin-bottom:10px;margin-top:10px;" >
                                        @if (string.IsNullOrEmpty(Model.tbl_resm1.Select(x => x.kullaniciolculu).FirstOrDefault()))
                        {
                            <img src="~/Content/Filmresimler/kdlas.png"/>
                        }



                                    </div>


                    <section class="main">

                        <ul class="ch-grid">
                            <li>
                                <div class="ch-item ch-img-1">
                                    <div class="ch-info" >
                                        <h3>By TURABBL</h3>
                                        <p>@Model.adi  @Model.soyadi <a href="/Home/Profilim">Profilini Dəyiş</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>












                    <div class="user-fav">

                        <ul>
                            <li class="active"><a href="/Home/Profilim">Profil</a></li>

                            <li><a href="/Home/Profilim">Profil Sekli Sec</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">

                        <ul>
                            <li><a href="/Home/Logout">Çıxış Et</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="#">

                    <form action="/Home/Profilpassword" method="post" class="password">

                        <div class="row">
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label style="float:left;margin-right:60px;margin-left:13px;font-size:20px;color:white;font-family:'Dutch801 XBd BT'">Istifadeci Adi</label>
                                    <input type="text" style="font-size:19px;font-family:'Freestyle Script';text-align:center;border-radius:7px;margin-left:13px;color:white" name="istifadeciadi" value="" placeholder="İstifadəçi Adı" />
                                </div>
                            </div>
                            <div class="col-md-6 form-it">
                                <label style="float:left;margin-right:148px;font-size:20px;color:white;font-family:'Dutch801 XBd BT'">Şifrə</label>
                                <input type="password" name="sifre" value="" style="font-size:19px;font-family:'Freestyle Script';text-align:center;border-radius:7px;color:white" placeholder="Şifrə" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label style="float:left;margin-right:70px;font-size:20px;color:white;font-family:'Dutch801 XBd BT'">Yeni Şifrə</label>
                                <input type="password" style="font-size:19px;font-family:'Freestyle Script';text-align:center;border-radius:7px;color:white" name="yenisifre" value="" placeholder="Yeni Şifrə" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="Dəyiş">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @*
    #avatar {
        border-radius:50%;
        width:100px;
        height:100px;


        background-image:url(if (!string.IsNullOrEmpty(Model.tbl_resm1.Select(x => x.kullaniciolculu).FirstOrDefault()))
        {
            Model.tbl_resm1.FirstOrDefault(x => x.varsayilan == false).kullaniciolculu;
        }
        );

        }
    *@









    .ch-item {
	width: 100%;
	height: 100%;
    margin-right:200px;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 4px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1 {
	background-image: url(@if (!string.IsNullOrEmpty(Model.tbl_resm1.Select(x => x.kullaniciolculu).FirstOrDefault()))
        {
            @Model.tbl_resm1.FirstOrDefault(x => x.varsayilan == false).kullaniciolculu;
        }
        ););
}

.ch-img-2 {
	background-image: url(../images/2.jpg);
}

.ch-img-3 {
	background-image: url(../images/3.jpg);
}

.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);

	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow:
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}





















</style>
